# theme generated webpack outputs
scripts/neuroinformatics-sphinx-theme.js
scripts/neuroinformatics-sphinx-theme.js.map
styles/neuroinformatics-sphinx-theme.css
styles/neuroinformatics-sphinx-theme.css.map

# bootstrap generated webpack outputs
scripts/bootstrap.js
scripts/bootstrap.js.map
styles/bootstrap.css
styles/bootstrap.css.map

# webpack files
webpack-macros.html
vendor/*
