/* Background of stable should be green */
.version-switcher__container a[data-version-name*="stable"] {
  position: relative;
}

.version-switcher__container a[data-version-name*="stable"] span {
  color: var(--pst-color-success);
}

.version-switcher__container a[data-version-name*="stable"] span:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--pst-color-success);
  opacity: 0.1;
}

:root {
  --pst-color-primary: #03A062;
  --pst-color-secondary: #03A062;
}

html[data-theme=dark] {
  --pst-color-inline-code: #dd9ec2;
  --pst-color-link: var(--pst-color-primary);
  --pst-color-link-hover: var(--pst-color-secondary);
}

html[data-theme=light] {
  --pst-color-inline-code: #e83e8c;
  --pst-color-link: var(--pst-color-primary);
  --pst-color-link-hover: var(--pst-color-secondary);
}
